.projects {
  max-width: 1980px;
  background: #11071f;
  box-shadow: 0px 6px 22px -3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  font-family: 'Poppins';
}

.projects__resumen {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects__featured {
  margin: 0 0 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #9857d3;
}

.projects__featured-right {
  margin: 0 0 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #9857d3;
  text-align: right;
}

.projects__title {
  margin: 0 0 30px;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  letter-spacing: 0.02em;
  color: #ccd6f6;
}

.projects__title-right {
  margin: 0 0 30px;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  letter-spacing: 0.02em;
  color: #ccd6f6;
  text-align: right;
}

.projects__container-description {
  max-width: 669px;
  background:
    url(../../assets/images/background-card.png),
    radial-gradient(
      90.16% 143.01% at 15.32% 21.04%,
      rgba(105, 59, 147, 0.2) 0%,
      rgba(110, 191, 244, 0.0447917) 77.08%,
      rgba(70, 144, 213, 0) 100%
    );
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  border-radius: 14px;
}

.projects__container-description-right {
  max-width: 669px;
  background:
    url(../../assets/images/background-card-right.png),
    radial-gradient(
      90.16% 143.01% at 15.32% 21.04%,
      rgba(105, 59, 147, 0.2) 0%,
      rgba(110, 191, 244, 0.0447917) 77.08%,
      rgba(70, 144, 213, 0) 100%
    );
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  border-radius: 14px;
}

.projects__text {
  margin: 0;
  padding: 26px 50px 31px 34px;
  max-width: 585px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ccd6f6;
}

.projects__container-links {
  max-width: 585px;
  margin: 36px 0 0 42px;
  display: flex;
  justify-content: space-between;
}

.projects__container-links-width {
  max-width: 350px;
}

.projects__container-links-right {
  margin-left: auto;
}

.projects__link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.projects__link-image {
  margin: 0;
  padding-right: 10px;
  width: 31px;
  height: 31px;
}

.projects__link-image:hover {
  cursor: pointer;
}

.projects__container-portrait {
  display: flex;
  justify-content: center;
  width: 625px;
  height: 625px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 0%,
    rgba(50, 15, 133, 0) 100%
  );
}

.projects__portrait {
  max-width: 582px;
  object-fit: contain;
}

.projects__tutorial {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 0%,
    rgba(50, 15, 133, 0) 100%
  );
}

.projects__tutorial-title {
  max-width: 1160px;
  margin: 0 auto;
  color: #ccd6f6;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.projects__tutorial-subtitle {
  max-width: 1160px;
  margin: 24px auto 80px;
  color: #ccd6f6;
  font-size: 20px;
  line-height: 30px;
}

.projects__videos {
  max-width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 40px;
  justify-content: center;
  padding-bottom: 100px;
}

.projects__video-item {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.projects__iframe {
  border: none;
  height: 315px;
  width: 560px;
}

.projects__video-caption {
  max-width: 560px;
  margin: 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1350px) {
  .projects__resumen {
    max-width: 1180px;
  }

  .projects__featured {
    max-width: 550px;
  }

  .projects__featured-right {
    max-width: 550px;
  }

  .projects__title {
    max-width: 550px;
  }

  .projects__title-right {
    max-width: 550px;
  }

  .projects__container-description {
    max-width: 550px;
  }

  .projects__container-description-right {
    max-width: 550px;
  }

  .projects__text {
    padding: 15px;
    text-align: justify;
  }

  .projects__container-links {
    margin-left: 0;
  }

  .projects__container-portrait {
    width: 600px;
    height: 600px;
  }

  .projects__container-links-right {
    margin-left: auto;
  }
}

@media screen and (max-width: 1220px) {
  .projects__resumen {
    max-width: 1080px;
  }

  .projects__container-portrait {
    width: 500px;
  }

  .projects__portrait {
    max-width: 500px;
  }

  .projects__tutorial-title {
    max-width: 1020px;
  }

  .projects__tutorial-subtitle {
    max-width: 1020px;
    margin-bottom: 50px;
  }

  .projects__videos {
    max-width: 1020px;
    grid-template-columns: 1fr 100px 1fr;
  }

  .projects__video-item-left {
    grid-column: 1/3;
  }

  .projects__video-item-right {
    grid-column: 2/4;
  }
}

@media screen and (max-width: 1130px) {
  .projects__resumen {
    max-width: 930px;
  }

  .projects__title {
    max-width: 500px;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .projects__title-right {
    max-width: 500px;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .projects__text {
    max-width: 500px;
    font-size: 16px;
    line-height: 25px;
  }

  .projects__container-description {
    max-width: 500px;
  }

  .projects__container-description-right {
    max-width: 500px;
  }

  .projects__container-links {
    margin-top: 20px;
  }

  .projects__container-portrait {
    width: 400px;
    height: 500px;
  }

  .projects__portrait {
    max-width: 400px;
  }

  .projects__tutorial-title {
    max-width: 930px;
    font-size: 30px;
  }

  .projects__tutorial-subtitle {
    max-width: 930px;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .projects__videos {
    max-width: 930px;
    grid-template-columns: 1fr 190px 1fr;
  }
}

@media screen and (max-width: 970px) {
}
