.main {
  max-width: 1980px;
  background: #11071f;
  box-shadow: 0px 6px 22px -3px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  margin: 0 auto;
  font-family: 'Preahvihear';
}

.main__container {
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container-image {
  height: 431px;
  width: 385px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 0%,
    rgba(50, 15, 133, 0) 100%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__image {
  height: 259px;
  width: 258px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 0%,
    rgba(50, 15, 133, 0) 100%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main__container-text {
  max-width: 386px;
  position: relative;
}

.main__image-arrow {
  position: absolute;
  top: -118px;
  left: -180px;
}

.main__text {
  margin: 0;
  font-size: 19px;
  line-height: 97px;
  letter-spacing: -0.5px;
  position: absolute;
  top: -130px;
  left: -75px;
}

.main__text-underlined {
  color: #7127ba;
}

.main__paragraph {
  margin: 0;
  font-size: 17px;
  line-height: 31px;
  letter-spacing: 0.02em;
}

.main__title {
  margin: 0;
  font-size: 50px;
  line-height: 63px;
  letter-spacing: 0.02em;
}

.main__title-underlined {
  display: inline-block;
  color: #7127ba;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 5px 20px;
  box-sizing: border-box;
  text-align: center;
}

.main__subtitle {
  margin: 0;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
