.navigation__desktop {
  display: flex;
  align-items: center;
}

.navigation__link-list {
  margin: 0;
  padding: 0;
}

.navigation__link-container {
  padding: 30px 11px 26px 13px;
  display: inline-block;
  margin-right: 34px;
}

.navigation__link-container-active {
  border-bottom: 3px solid #ffffff;
}

.navigation__link-container-active-light {
  border-bottom: 3px solid #1a1b22;
}

.navigation__link-container-disabled {
  display: none;
}

.navigation__link {
  font-family: 'Plus Jakarta Sans';
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
  outline: none;
}

.navigation__link:focus-visible {
  outline: 2px solid #007bff;
  outline-offset: 3px;
  border-radius: 5px;
}

.navigation__mobile {
  display: none;
  height: 56px;
  margin-right: 34px;
  align-items: center;
}

.navigation__menu-hamburger {
  width: 100%;
  padding: 0;
  position: absolute;
  top: 56px;
  left: 0;
  margin: 0;
  background-color: #000000;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

@media screen and (max-width: 950px) {
  .navigation__link {
    font-size: 16px;
  }

  .navigation__link-container {
    padding: 22px 11px 20px 13px;
    margin-right: 16px;
  }

  @media screen and (max-width: 710px) {
    .navigation__desktop {
      display: none;
    }

    .navigation__mobile {
      display: flex;
    }

    .navigation__link {
      font-size: 18px;
      line-height: 56px;
      color: #ffffff;
    }
  }
}
